services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_CLOUD_FUNCTION_DEFINITION=uppercase;reverse
    depends_on:
      - localstack

  localstack:
    image: localstack/localstack:3.4.0
    ports:
      - "4566:4566"
      - "4510-4559:4510-4559"
    environment:
      - SERVICES=lambda
      - DEBUG=1
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
