spring:
  application:
    name: consul-microservice
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        health-check-path: /actuator/health
        health-check-interval: 10s
        instance-id: ${spring.application.name}:${random.value}

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "*"
