services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - MEMCACHED_HOST=memcached
      - MEMCACHED_PORT=11211
    depends_on:
      - memcached

  memcached:
    image: memcached:alpine
    ports:
      - "11211:11211"
