services:
  consul:
    image: hashicorp/consul:1.15
    ports:
      - "8500:8500"
    command: agent -server -bind 0.0.0.0 -client 0.0.0.0 -bootstrap-expect 1 -ui
  
  consul-microservice:
    build: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_CLOUD_CONSUL_HOST=consul
      - SPRING_CLOUD_CONSUL_PORT=8500
    depends_on:
      - consul
